# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# IDEs
.vscode/
.idea/
