<section id="about-us" class="about">
    <div class="about-container">
        <h2 class="about-h2">
            <%= title %>
        </h2>
        <p class="about-p">
            En <strong>GlowUp</strong> creemos que cuidar tu piel es mucho más que una rutina: es un acto de amor
            propio. Por eso, ofrecemos productos de <em>skin care</em> cuidadosamente seleccionados para cada tipo de
            piel, con fórmulas limpias, efectivas y seguras.
        </p>
        <p class="about-p">
            Nuestro objetivo es ayudarte a sentirte bien en tu piel todos los días. Estamos comprometidos con la
            calidad, la transparencia y la confianza. GlowUp no solo mejora tu piel, también realza tu confianza desde
            adentro hacia afuera.
        </p>
        <h3>
            Lucir una piel más sana, es nuestro compromiso.
        </h3>
        <p class="about-p">Como expertos en la selección de productos dermocosméticos nos enfocamos en incentivar a las
            personas y a todos nuestros clientes a recurrir siempre a médicos de la piel o dermatólogos para consultas
            sobre enfermedades de la piel.
        </p>
        <p class="about-p">
            Si tenés alguna duda o consulta, podés contactarnos a través de nuestras redes sociales
            o correo electronico.
        </p>

        <div class="social-links">
            <a href="https://api.whatsapp.com/send?phone=595981172172" target="_blank" rel="nofollow"><i
                    class="fa fa-brands fa-square-whatsapp"></i></a>
            <a href="https://facebook.com/glowuppy" target="_blank"><i class="fa fa-brands fa-facebook"></i></a>
            <a href="https://x.com/glowuppy" target="_blank"><i class="fa fa-brands fa-square-x-twitter"></i></a>
            <a href="https://instagram.com/glowuppy" target="_blank"><i
                    class="fa fa-brands fa-square-instagram"></i></a>
            <a href="mailto:contacto@glowuppy.com" target="_blank"><i class="fa fa-envelope-square"></i></a>
        </div>
    </div>
</section>