<section class="mid-container">
    <h2 class="title-h2">
        <%= title %>
    </h2>
    <p>
        Bienvenido a nuestro sitio web. Al acceder y utilizar este sitio, aceptás los siguientes términos y condiciones.
        Te recomendamos que los leas detenidamente antes de continuar.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc at tincidunt porta, justo metus
        suscipit metus, eget convallis metus nulla sed nunc. Nulla facilisi. Vestibulum non purus id velit eleifend
        fermentum.
    </p>
    <p>
        Etiam posuere arcu ac elit gravida, nec laoreet justo fermentum. Integer facilisis, justo sed facilisis blandit,
        odio lacus euismod leo, at tincidunt eros elit non eros. Proin at justo id erat faucibus vulputate.
    </p>
    <p>
        Nos reservamos el derecho de modificar estos términos en cualquier momento sin previo aviso. El uso continuado
        del sitio después de cualquier cambio implica la aceptación de los nuevos términos.
    </p>
    <p>
        Si tenés alguna pregunta sobre estos términos, podés contactarnos a través de nuestras redes sociales
        o correo electronico.
    </p>

    <div class="social-links">
        <a href="https://api.whatsapp.com/send?phone=595981172172" target="_blank" rel="nofollow"><i
                class="fa fa-brands fa-square-whatsapp"></i></a>
        <a href="https://facebook.com/glowuppy" target="_blank"><i class="fa fa-brands fa-facebook"></i></a>
        <a href="https://x.com/glowuppy" target="_blank"><i class="fa fa-brands fa-square-x-twitter"></i></a>
        <a href="https://instagram.com/glowuppy" target="_blank"><i class="fa fa-brands fa-square-instagram"></i></a>
        <a href="mailto:contacto@glowuppy.com" target="_blank"><i class="fa fa-envelope-square"></i></a>
    </div>
</section>