<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>Información</h3>
            <p>Lucir una piel más sana, es nuestro compromiso</p>
            <ul>
                <li><a href="/faq">Preguntas Frecuentes</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Enlaces útiles</h3>
            <ul>
                <li><a href="/terms">Términos y Condiciones</a></li>
                <li><a href="/about">Sobre Nosotros</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Redes Sociales</h3>
            <div class="social-links">
                <a href="https://facebook.com/glowuppy" target="_blank"><i class="fa fa-brands fa-facebook"></i></a>
                <a href="https://x.com/glowuppy" target="_blank"><i class="fa fa-brands fa-square-x-twitter"></i></a>
                <a href="https://instagram.com/glowuppy" target="_blank"><i
                        class="fa fa-brands fa-square-instagram"></i></a>
                <a href="https://github.com/melissagcoral" target="_blank">
                    <i class="fa fa-brands fa-github"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <a class="btn-repositorio" href="https://github.com/melissagcoral/DPFS_melissa_gonzalez" target="_blank"
            role="button">Repositorio
            <i class="fa fa-brands fa-github"></i>
        </a>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 GlowUp. Todos los derechos reservados.</p>
    </div>
</footer>