<nav class="nav-bar">
    <div class="nav-header">
        <a href="/" class="logo-mobile">✨ GlowUp ✨</a>
        <div class="menu-toggle" id="menu-toggle">☰</div>
    </div>
    <ul id="nav-list">
        <li><a href="/products">Productos</a></li>
        <li><a href="/about">Contacto</a></li>
        <li><a href="/cart"><i class="fa fa-cart-shopping"></i></a></li>
        <% if (isLoggedIn) { %>
            <li>
                <a href="/profile" class="welcome-message">
                    ¡Hola, <%= userLogged.name || userLogged.email %>!
                </a>
            </li>
            <li><a><form action="/logout" method="POST" style="display: inline;">
                    <button type="submit" class="logout-btn">
                        <i class="fa fa-sign-out"></i> Cerrar sesión
                    </button>
                </form></a>
            </li>
        <% } else { %>
            <li><a href="/login"><i class="fa fa-user"></i></a></li>
        <% } %>
    </ul>
</nav>

<script src="/js/menu.js"></script>