<div class="form-container">
    <h2 class="title-h2">
        <%= title %>
    </h2>
    <form id="productForm" action="/products" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <p class="label-products">Nombre:</p>
            <input class="form-input" type="text" name="nombre" placeholder="Nombre" id="nombre" required>
        </div>
        <div class="form-group">
            <p class="label-products">Precio:</p>
            <input class="form-input" type="text" name="precio" placeholder="Precio" id="precio" required>
        </div>
        <div class="form-group">
            <p class="label-products">Imagen:</p>
            <input class="form-input" type="file" name="imagen" placeholder="Imagen" id="imagen" accept="image/*" required>
        </div>
        <div class="form-group">
            <p class="label-products">Descripción:</p>
            <textarea class="form-input" name="descripcion" placeholder="Descripción" id="descripcion"></textarea>
        </div>
        <div class="button-container">
            <a href="/products" class="btn-volver">Volver</a>
            <button type="submit" class="btn-guardar">Guardar</button>
        </div>
    </form>
</div>

<script src="/js/cart.js"></script>